#analyst-score-chart .tick text {
  font-size: 14px;
  text-anchor: middle;
  color: #999999;
  font-family: "Roboto";
}

#chart {
  border: 1px solid yellow;
}

#scoreBox text {
  text-anchor: middle;
  dominant-baseline: central;
  font-size: 17px;
  font-family: "Roboto";
  fill: currentColor;
}